/* importing the font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
/* removing the default padding and margin given by browser */
*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* defining the variable that will be usesd in entirely projects */
:root{
    --color-primary:#fff;
    --color-secondary: #757575;
    --color-tertiary: #f1f1f1;
    --color-hover:#616161;
    --color-anchor:#4caf50;
    --background-secondary-color:#ccc;
    --background-primary-color:#000;
    --font-family:"Montserrat";
}
body{
    width:100%;
    display:flex;
    font-family: var(--font-family);
    background-color: var(--background-primary-color);
    color: var(--color-secondary);
}
/* moving next to main */
main{
    width:85%;
    border:1px solid var(--color-anchor);
    color:var(--color-primary);
    font-size:15px;
    line-height:22.5px;
    padding:12px 20px;
}
h1,h2,h3{
    font-weight: normal;
}
p{
    font-size: 16px;
}
/* #home and it's elements */
#home{
    width:100%;
    padding:32px 16px;
    text-align:center;
    color:var(--color-primary);
}
#home h1{
    font-size:64px;
    line-height:96px;
    margin:10px 0px;
    text-align:center;
}
#home p{
    line-height:22.5px;
    margin:10px 0px;
    text-align:center;
}
#home img{
    max-width:100%;
    height:auto;
    display:inline;
    line-height:22.5px;
    text-align:center;
}
/* about */
#about{
    color:var(--color-secondary);
    font-size:15px;
    line-height:22.5px;
    margin:0px 20px;
    padding:64px 0px;
    text-align:justify;
}
/* givinh h2 and h3 same color */
#about h2, #about h3{
    color:var(--color-tertiary);
}
h2{
    font-size:30px;
    line-height:45px;
    margin:10px 0px;
}
/* a didvider line  */
hr{
    background-color: var(--color-tertiary);
    width:20%;
    height: 1px;
    margin:20px 0px;
}
/* margintop and bottom the p */
#hero-section p{
    margin:15px 0px;
}
#about h3{
    font-size:24px;
    line-height:36px;
    margin:10px 0px;
    padding:16px 0px;
}
/* styling the container showcasing the knowledge */
#skills{
    width:100%;
}
#skills p{
    letter-spacing:4px;
    line-height:22.5px;
    margin:15px 0px;
    text-align:justify;
}
.skills-container{
    width:100%;
}
/* div for ranking  */
.skills-container .rate{
    width:100%;
    background:var(--color-primary);
}
/* differentiating the ranks  */
.rate div{
    width:95%;
    height: fit-content;
    padding:15px;
    background: var(--color-hover);
}

.skills-container .rate.second div{
    width:69%;

}.skills-container .rate.third div{
    width:80%;
}
/* the activities container  */
.activities{
    width:100%;
    background-color:var(--color-tertiary);
    font-size:15px;
    line-height:22.5px;
    margin:16px 0px;
    padding:16px 0px;
    text-align:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activities div{
    width:20%;
    margin:16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--background-primary-color);
    font-size:16px;
}
.activities span{
    font-weight: 500;
}
/* styling all the buttons */
button{
    background-color:var(--background-secondary-color);
    display:inline-block;
    justify-content: center;
    align-items:flex-start;
    font-size:16px;
    padding:12px 24px;
    text-align:center;
    border:1px solid transparent;
}
button i{
    margin-right: 5px;
}

/* photos -- arranging the images  */

#photos{
    margin:0px 20px;
    border:1px solid green;
    padding:64px 0px;
}
.image-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.image-grid .wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
}
#photos img{
    width: 100%;
    margin-bottom: 12px;
}
/* contact part  */
#contact{
    margin:0px 20px;
    padding:64px 0px;
    color: var(--color-secondary);
}
#contact #social-media{
    margin:16px 0px;
}
#social-media p{
    margin:20px 0px; 
}
#social-media p i{
    display:inline-block;
    font-size:35px;
    margin:0px 16px 0px 0px;
    color:var(--color-primary);
}
#contact p{
    margin:15px 0px;
}
form{
    width:100%;
}
form input{
    width:100%;
    display: block;
    margin:15px 0;
    padding:16px 8px;
    outline: none;
    font-size: 16px;
}



